{
    "presets": [
        [
            "@babel/env",
            {
                "targets": {
                    "edge": "11",
                    "firefox": "30",
                    "chrome": "40",
                    "safari": "9.1",
                },
                "useBuiltIns": "usage",
                "corejs": 2
            }
        ], 
        "@babel/react",
        "@babel/flow",
        "@babel/typescript"
    ],
    "plugins": [
        "@babel/plugin-transform-runtime",
        "@babel/plugin-proposal-class-properties",
        [ 
            "@babel/plugin-proposal-decorators", 
            { 
                "legacy": true 
            } 
        ],
        "@babel/plugin-syntax-dynamic-import",
        [
            "import", 
            {
                "libraryName": "antd",
                "libraryDirectory": "es",
                "style": "css" // `style: true` 会加载 less 文件
            }
        ]
    ]
}